In [ ]:
import sqlalchemy as sa
from sqlalchemy import create_engine as ca
from sqlalchemy import text, insert, update, delete, MetaData, Table, Column, Integer, String

import os 
import psycopg2 as ps
from datetime import datetime

In [ ]:
dict = {}
dict["client_billing"] = """
create table "Raw_Data"."client_billing"(
	srNo SERIAL primary key,
	Client_Surname1 varchar not null,
	Total_Profit1 float, 
	Total_Bill_Amount float,
	Total_Profit float not null, 
	Total_Bill_Amount1 float not null, 
	Date_Added date not null
)"""

dict["fee_brkdn_dept_fe"] = """
create table "Raw_Data"."fee_brkdn_dept_fe"(
	srNo SERIAL primary key,
	Matter_Dept_Dept_Name varchar not null,
	Fee_Earner_Reference varchar(10) not null, 
	Matter_Ref varchar not null, 
	Profit float8 not null,
	Non_Vatable_Disbursements int, 
	Vatable_Disbursements float8, 
	VAT_Amount float8 not null, 
	Bill_Amount float8 not null, 
	WIP_Cost_Billed float8 not null,
	Date_Added date not null
)"""

dict["fee_smry_dept_fe"] = """
create table "Raw_Data"."fee_smry_dept_fe"(
	srNo SERIAL primary key,
	Matter_Dept_Dept_Name varchar not null,
	Fee_Earner_Reference1 varchar(10) not null, 
	Profit float8 not null, 
	Date_Added date not null
)"""

dict["fees_billed"] = """
create table "Raw_Data"."fees_billed"(
	srno SERIAL primary key,
	feeref varchar(10) not null, 
	tnx_month varchar not null,
	split_amount float8,
	Date_Added date not null
)"""

dict["mttr_src_ref"] = """
create table "Raw_Data"."mttr_src_ref"(
	srno SERIAL primary key,
	Fee_Earner_Reference1 varchar(10) not null, 
	Business_Source1 varchar not null,
	Client_Name1 varchar not null, 
	Matter_Ref varchar not null, 
	Matter_Description varchar,
	Bill_Date date not null,
	Bill_Ref varchar(10) not null, 
	Bill_Amount int,
	Date_Added date not null
)"""

dict["mttr_opn_by_fe"] = """
create table "Raw_Data"."mttr_opn_by_fe"(
	srno SERIAL primary key,
	Fee_Earner_Full_Name1 varchar not null, 
	Business_Source varchar not null, 
	Work_Type_Description1 varchar not null,
	Matter_Ref varchar(10) not null,
	Date_Added date not null
)"""

dict["tot_hrs_by_fe"] = """
create table "Raw_Data"."tot_hrs_by_fe"(
	srno SERIAL primary key,
	EarnerRef varchar(10) not null, 
	EarnerName varchar not null, 
	RecordedHours varchar not null,
	RecordedHours1 float8, 
	RecordedValue int, 
	NonChargeHours varchar not null,
	NonChargeHours1 float8,
	NonChargeValue int,
	WOHours varchar not null,
	WOHours1 float8,
	WOValue float8,
	TotalHour varchar not null,
	TotalHour1 float8,
	TotalValue int, 
	NetBillings float8,
	Date_Added date not null
)"""

In [ ]:
loc = r"D:\\One Drive Anza\\OneDrive - Anza Services LLP\\Backup"
backup_db = loc+"\\"+"raw_data.db"

host_name = "localhost"
db_name = "AnzaBI"
port_name = "5432"
user_name = "sraj" 
usr_password = "password"
schema_name="Raw_Data"

In [ ]:
import pandas as pd 

df = pd.read_csv(r"D:\Learning+Offline\DATA_Dump\Final_Df\Client Billing Descending.csv",index_col=False)
df.head()

In [ ]:
db_string = f"postgresql://{user_name}:{usr_password}@{host_name}:{port_name}/{db_name}"
#+psycopg2
engine = sa.create_engine(db_string, echo=True)

In [ ]:
sql_stmt = 'Select * from "Raw_Data".client_billing LIMIT 5'

with engine.connect() as conn:
    result = conn.execute(text(sql_stmt))
    for row in result:
        print(row)

In [ ]:
#q = "INSERT INTO client_billing(Client_Surname1,Total_Profit1,Total_Bill_Amount,Total_Profit,Total_Bill_Amount1,Date_Added) VALUES()"
# q = "INSERT INTO client_billing(Client_Surname1,Total_Profit1,Total_Bill_Amount,Total_Profit,Total_Bill_Amount1,Date_Added) VALUES(?, ?, ?, ?, ?, ?)"
# with engine.connect() as conn:
#     tot_rows = 0
#     for index,val in df.iterrows():
#         print(val)
#         r_set = conn.execute(q,val)
#         tot_rows+=1
#     print(f'Total [{tot_rows}] were successfully inserted in this operation ')

# conn.close()

In [ ]:
metadata = MetaData()
tbl_nm = '"Raw_Data".fees_billed'
table_ins = Table(tbl_nm,metadata,autoload=True, autoload_with=engine)

print(repr(table_ins))