In [1]:
import pandas as pd
import re
import os

In [2]:
path = "/home/shashankraj/Documents/DATA/extracted/"


df1 = pd.read_csv(path+"Fee_brkdwn_dept_fee_ernr/Fee Breakdown by Dept and Fee Earner_25102021.csv",skiprows=3,index_col=0)
df2 = pd.read_csv(path+"Fees_Billed/Fees Billed_25102021.csv",skiprows=3,index_col=0)
df3 = pd.read_csv(path+"Fee Summary by Dept and Fee Earner/Fee Summary by Dept and Fee Earner_25102021.csv", skiprows=3,index_col=0) ## skip it

In [3]:
def remove_cols(df):
    cols = df.columns
    new_cols = []

    for x in cols:
        txt_chk = re.compile(r'Textbox')
        if txt_chk.search(x)== None:
            new_cols.append(x)
        else: 
            continue
    
    return(new_cols)

In [4]:
df1=df1[remove_cols(df1)]
df1.head()

,Fee_Earner_Reference,Matter_Ref,Profit,Non_Vatable_Disbursements,Vatable_Disbursements,VAT_Amount,Bill_Amount,WIP_Cost_Billed
Matter_Dept_Dept_Name,,,,,,,,
Conveyancing Commercial,ELM,053326-0126,"(£1,000.00)",£0.00,£0.00,(£200.00),"(£1,200.00)",£0.00
Conveyancing Commercial,ELM,053326-0126,£750.00,£0.00,£0.00,£150.00,£900.00,£0.00
Conveyancing Commercial,LC,070879-0005,"£1,500.00",£0.00,£0.00,£300.00,"£1,800.00","£1,363.50"
Conveyancing Commercial,LC,070879-0007,"£1,500.00",£3.00,£0.00,£300.00,"£1,803.00","£1,958.67"
Conveyancing Commercial,LC,070879-0011,"£4,000.00",£0.00,£0.00,£800.00,"£4,800.00","£4,008.00"

In [5]:
df2=df2[remove_cols(df2)]
df2.head()

           month SplitAmount
feeref
AB      Oct 2021          £0
ELM     Oct 2021      (£250)
HC      Oct 2021          £0
JJ      Oct 2021          £0
KT      Oct 2021          £0

In [6]:
df3=df3[remove_cols(df3)]
df3.head()

                        Fee_Earner_Reference1     Profit
Matter_Dept_Dept_Name
Conveyancing Commercial                   ELM    -250.00
Conveyancing Commercial                    LC   7,000.00
Matrimonial/Family                         MR  12,534.64
Matrimonial/Family                         VK   1,701.45

In [7]:
df1.merge(df2,left_on=["Fee_Earner_Reference"], right_on="feeref",how="right")

,Fee_Earner_Reference,Matter_Ref,Profit,Non_Vatable_Disbursements,Vatable_Disbursements,VAT_Amount,Bill_Amount,WIP_Cost_Billed,month,SplitAmount
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
1,ELM,053326-0126,"(£1,000.00)",£0.00,£0.00,(£200.00),"(£1,200.00)",£0.00,Oct 2021,(£250)
2,ELM,053326-0126,£750.00,£0.00,£0.00,£150.00,£900.00,£0.00,Oct 2021,(£250)
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
6,LC,070879-0005,"£1,500.00",£0.00,£0.00,£300.00,"£1,800.00","£1,363.50",Oct 2021,"£5,500"
7,LC,070879-0007,"£1,500.00",£3.00,£0.00,£300.00,"£1,803.00","£1,958.67",Oct 2021,"£5,500"
8,LC,070879-0011,"£4,000.00",£0.00,£0.00,£800.00,"£4,800.00","£4,008.00",Oct 2021,"£5,500"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
11,MR,074968-0004,"£1,333.33",£0.00,£0.00,£266.67,"£1,600.00",£48.60,Oct 2021,"£12,092"
12,MR,076379-0002,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£0.00,Oct 2021,"£12,092"
13,MR,079115-0002,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£32.40,Oct 2021,"£12,092"
14,MR,079712-0001,£608.00,£0.00,£0.00,£121.60,£729.60,£0.00,Oct 2021,"£12,092"
15,MR,081001-0002,"£1,458.19",£0.00,£0.00,£291.64,"£1,749.83",£64.80,Oct 2021,"£12,092"
16,MR,081021-0001,"£1,132.18",£0.00,£0.00,£226.43,"£1,358.61",£39.60,Oct 2021,"£12,092"
17,MR,081163-0002,"£2,549.09",£94.30,£0.00,£509.82,"£3,153.21",£166.50,Oct 2021,"£12,092"
18,MR,081264-0001,£608.00,£0.00,£0.00,£121.60,£729.60,£0.00,Oct 2021,"£12,092"
19,MR,081376-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£118.80,Oct 2021,"£12,092"
20,MR,081404-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£29.70,Oct 2021,"£12,092"
21,MR,081567-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£32.40,Oct 2021,"£12,092"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,"£1,500"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0
27,VK,081135-0001,"£1,701.45",£550.00,£0.00,£340.29,"£2,591.74","£1,543.45",Oct 2021,"£2,144"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oct 2021,£0

In [8]:
df1.merge(df2,left_on="Fee_Earner_Reference", right_on="feeref",how="left")

,Fee_Earner_Reference,Matter_Ref,Profit,Non_Vatable_Disbursements,Vatable_Disbursements,VAT_Amount,Bill_Amount,WIP_Cost_Billed,month,SplitAmount
0,ELM,053326-0126,"(£1,000.00)",£0.00,£0.00,(£200.00),"(£1,200.00)",£0.00,Oct 2021,(£250)
1,ELM,053326-0126,£750.00,£0.00,£0.00,£150.00,£900.00,£0.00,Oct 2021,(£250)
2,LC,070879-0005,"£1,500.00",£0.00,£0.00,£300.00,"£1,800.00","£1,363.50",Oct 2021,"£5,500"
3,LC,070879-0007,"£1,500.00",£3.00,£0.00,£300.00,"£1,803.00","£1,958.67",Oct 2021,"£5,500"
4,LC,070879-0011,"£4,000.00",£0.00,£0.00,£800.00,"£4,800.00","£4,008.00",Oct 2021,"£5,500"
5,MR,074968-0004,"£1,333.33",£0.00,£0.00,£266.67,"£1,600.00",£48.60,Oct 2021,"£12,092"
6,MR,076379-0002,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£0.00,Oct 2021,"£12,092"
7,MR,079115-0002,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£32.40,Oct 2021,"£12,092"
8,MR,079712-0001,£608.00,£0.00,£0.00,£121.60,£729.60,£0.00,Oct 2021,"£12,092"
9,MR,081001-0002,"£1,458.19",£0.00,£0.00,£291.64,"£1,749.83",£64.80,Oct 2021,"£12,092"
10,MR,081021-0001,"£1,132.18",£0.00,£0.00,£226.43,"£1,358.61",£39.60,Oct 2021,"£12,092"
11,MR,081163-0002,"£2,549.09",£94.30,£0.00,£509.82,"£3,153.21",£166.50,Oct 2021,"£12,092"
12,MR,081264-0001,£608.00,£0.00,£0.00,£121.60,£729.60,£0.00,Oct 2021,"£12,092"
13,MR,081376-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£118.80,Oct 2021,"£12,092"
14,MR,081404-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£29.70,Oct 2021,"£12,092"
15,MR,081567-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£32.40,Oct 2021,"£12,092"
16,VK,081135-0001,"£1,701.45",£550.00,£0.00,£340.29,"£2,591.74","£1,543.45",Oct 2021,"£2,144"

In [11]:
df1.merge(df3,left_on=["Fee_Earner_Reference","Matter_Dept_Dept_Name"], right_on=["Fee_Earner_Reference1","Matter_Dept_Dept_Name"],how="left")

,Fee_Earner_Reference,Matter_Ref,Profit_x,Non_Vatable_Disbursements,Vatable_Disbursements,VAT_Amount,Bill_Amount,WIP_Cost_Billed,Fee_Earner_Reference1,Profit_y
Matter_Dept_Dept_Name,,,,,,,,,,
Conveyancing Commercial,ELM,053326-0126,"(£1,000.00)",£0.00,£0.00,(£200.00),"(£1,200.00)",£0.00,ELM,-250.00
Conveyancing Commercial,ELM,053326-0126,£750.00,£0.00,£0.00,£150.00,£900.00,£0.00,ELM,-250.00
Conveyancing Commercial,LC,070879-0005,"£1,500.00",£0.00,£0.00,£300.00,"£1,800.00","£1,363.50",LC,"7,000.00"
Conveyancing Commercial,LC,070879-0007,"£1,500.00",£3.00,£0.00,£300.00,"£1,803.00","£1,958.67",LC,"7,000.00"
Conveyancing Commercial,LC,070879-0011,"£4,000.00",£0.00,£0.00,£800.00,"£4,800.00","£4,008.00",LC,"7,000.00"
Matrimonial/Family,MR,074968-0004,"£1,333.33",£0.00,£0.00,£266.67,"£1,600.00",£48.60,MR,"12,534.64"
Matrimonial/Family,MR,076379-0002,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£0.00,MR,"12,534.64"
Matrimonial/Family,MR,079115-0002,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£32.40,MR,"12,534.64"
Matrimonial/Family,MR,079712-0001,£608.00,£0.00,£0.00,£121.60,£729.60,£0.00,MR,"12,534.64"
Matrimonial/Family,MR,081001-0002,"£1,458.19",£0.00,£0.00,£291.64,"£1,749.83",£64.80,MR,"12,534.64"
Matrimonial/Family,MR,081021-0001,"£1,132.18",£0.00,£0.00,£226.43,"£1,358.61",£39.60,MR,"12,534.64"
Matrimonial/Family,MR,081163-0002,"£2,549.09",£94.30,£0.00,£509.82,"£3,153.21",£166.50,MR,"12,534.64"
Matrimonial/Family,MR,081264-0001,£608.00,£0.00,£0.00,£121.60,£729.60,£0.00,MR,"12,534.64"
Matrimonial/Family,MR,081376-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£118.80,MR,"12,534.64"
Matrimonial/Family,MR,081404-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£29.70,MR,"12,534.64"
Matrimonial/Family,MR,081567-0001,£969.17,£0.00,£0.00,£193.83,"£1,163.00",£32.40,MR,"12,534.64"
Matrimonial/Family,VK,081135-0001,"£1,701.45",£550.00,£0.00,£340.29,"£2,591.74","£1,543.45",VK,"1,701.45"